div(class='site-wrapper')
  div(class='site-wrapper-inner')
    div(class='cover-container')
      div(class='inner cover')
        h1(class='cover-heading')
          | Welcome to Quizzer
		h2(class='cover-heading')
		  | This application will help to calculate students scores using JSON files.
		form(action="/" method="post")
		  h3(class='cover-heading')
		    | Copy and paste the questions and assessment files in the following text areas
		  p Questions

		  textarea(id='quizz' name='quizz' class='lead' style='width: 500px; height: 200px;')

		  p Assessment

		  textarea(id='assessment' name='assessment' class='lead' style='width: 500px; height:200px;')
		  br
		  input(type='submit' value='Calculate scores')
	  div(clas='mastfoot')
	    div(clas='inner')
	      p © Copyright Amaia Eskisabel