doctype html 
html 
  head 
    meta charset="utf-8"
    title Quizzer 
    link rel="stylesheet" media="screen, projection" href="css/cover.css"
    /[if lt IE 9] 
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
  body 
    == yield