div(clas='site-wrapper')
  div(clas='site-wrapper-inner')
    div(clas='cover-container')
      div(clas='inner cover')
        h1.cover-heading
          | Welcome to Quizzer
		h2.cover-heading
		  | Calculated scores
		textarea(style='width: 500px; height: 200px;')
		  | #{scores}
	  div(clas='mastfoot')
	    div(clas='inner')
	      p © Copyright Amaia Eskisabel
